extends ../layout

block content
    #ending
        - if (locals.model.winner == 1)
            img(alt='Heroine Won', src='#{config.assetsUrl}/images/game/monster_lose.png')
        - else
            img(alt='Guardian Won', src='#{config.assetsUrl}/images/game/girl_lose.png')
