extends ../layout

block privateCss
    != html.cssLoader(['/stylesheets/game.css'])

block privateJs
    != html.jsLoader(['/js/gameClientBundle.js'])

block content
    #container
        canvas#canvas
            |Your browser does not support canvas
