extends ../layout

block privateCss
    != html.cssLoader(['/stylesheets/game.css'])

block privateJs
    script(src='/socket.io/socket.io.js')
    script(type='text/javascript')
        var settings ={
            webUrl : '!{config.webUrl}',
            id     : '!{model.id}',
            userId : '!{model.userId}',
            mode   : '!{model.mode}'
        }
    != html.jsLoader(['/js/requestNextAnimationFrame.js','/js/gameClientBundle.js'])


block content
    #container
        canvas#canvas
            |Your browser does not support canvas
         div#btnContainerAll
            div#btnContainer
                #btnEmp.btnEmpty &nbsp;
                #btnDirectionUp.btn(value="up") up
                #btnEmp.btnEmpty &nbsp;
            div#btnContainer
                #btnDirectionLeft.btn(value="left") left
                #btnEmp.btnEmpty &nbsp;
                #btnDirectionRight.btn(value="right") right
            div#btnContainerRight
                #btnAct.btn
                    div.inner action
            div#btnContainer
                #btnEmp.btnEmpty &nbsp;
                #btnDirectionDown.btn(value="down") down
                #btnEmp.btnEmpty &nbsp;

     != html.jsLoader(['/js/hammer.js','/js/jqueryspecialevent.hammer.js'])