extends ../layout

block privateCss
    != html.cssLoader(['/stylesheets/game.css'])

block privateJs
    script(src='/socket.io/socket.io.js')
    script(type='text/javascript')
        var settings ={
            webUrl : '!{config.webUrl}',
            id     : '!{model.id}',
            userId : '!{model.userId}',
            mode   : '!{model.mode}'
        }
    != html.jsLoader(['/js/requestNextAnimationFrame.js','/js/gameClientBundle.js'])


block content
    #container
        canvas#canvas
            |Your browser does not support canvas
        #btnDirection.btn Up
        #btnJump.btn
            div.inner Jump