extends ../layout

block privateCss
    != html.cssLoader(['/stylesheets/game.css'])

block privateJs
    != html.jsLoader(['/js/requestNextAnimationFrame.js','/socket.io/socket.io.js','/js/gameClientBundle.js'])

block content
    #container
        canvas#canvas
            |Your browser does not support canvas
