body{background-color: #333;}

fieldset
{
    border: none 0 transparent;
}

.button{

    font-size:0.75em;

    @media (min-width:720px){
        font-size: 0.95em;
    }

    border:0 none; color: white; padding:0.3em 1em;border-radius:0.2em;background-color: #006DCC;
    text-decoration: none;
    background-image: linear-gradient(to bottom, #0088CC, #0044CC);
    background-repeat: repeat-x;

    &:hover{ background-image: linear-gradient(to bottom, #0077CC, #0033CC); }
}

.error
{
    color: red;
    margin-bottom: 20px;
}

.main-screen
{
    position:absolute;
    left:50%;top:50%;
    text-align:center;
    background-color:#000;

    #logo {margin-top:25px;}
}

#home
{

    img{ width: 256px; }

    width:300px;
    height:230px;
    margin-left:-150px;
    margin-top:-125px;

    @media (min-width:480px) {
        img { width: 342px; }

        width:450px;
        height:250px;
        margin-left:-225px;
        margin-top:-125px;

    }

    @media (min-width:720px){
        img {width: 512px;}

        width:600px;
        height:350px;
        margin-left:-300px;
        margin-top:-175px;
    }

}

#main-menu
{
  img{ width: 160px; }

  width:300px;
  height:230px;
  margin-left:-150px;
  margin-top:-125px;
  a{
    font-weight: bold;
    font-size: .6em;
    text-decoration: none;
    color: blue;

    &:hover
    {
      color:#99f;
    }
  }

  @media (min-width:480px) {
    img { width: 192px; }

    width:450px;
    height:250px;
    margin-left:-225px;
    margin-top:-125px;

    a{
      font-size: 1em;
    }

  }

@media (min-width:720px){
    img {width: 384px;}

     width:600px;
     height:350px;
     margin-left:-300px;
     margin-top:-175px;
     a{
      font-size: 1.2em;
    }
  }



}

#selection
{
  width:280px;
  height:200px;
  margin-left:-150px;
  margin-top:-125px;
  padding: 10px;
  h2
  {
    color:white;
    margin: 1px auto;
    font-size: .9em;
  }

  .char{
    float:left;
    width:110px;
    text-decoration:none;
    color: white;
    padding: 10px 0;

      img{
        width:100px;
        margin:auto;
      }
      &:hover
      {
        background-color:#333;
      }

      .title
      {
        text-transform: uppercase;
        margin: 1px auto;
        font-size: .7em;
      }

      .desc{
        padding: 1px;
        font-size: .5em;
      }
    }

  .left
  {
    margin-right: 25px;
  }
  .right
  {
    margin-left: 25px;
  }
@media (max-height: 320px){
  margin-top:-90px;
  .char{
    img{
      width:50px;
    }
  }
}
@media (min-width:480px) and (min-height: 400px)  {
    width:440px;
    height:250px;
    margin-left:-225px;
    margin-top:-125px;

    .char{
      width:200px;
      padding: 10px 0;

      img{
        width:160px;
      }
      &:hover
      {
        background-color:#333;
      }

      .title
      {
        font-size: .9em;
      }

      .desc{
        font-size: .7em;
      }
    }

    .left
    {
      margin-right: 20px;
    }
    .right
    {
      margin-left: 20px;
    }

  }
@media (min-width:720px) {

    width:600px;
    height:350px;
    margin-left:-300px;
    margin-top:-175px;
    h2
    {
      font-size: 1.2em;
    }
    .char{
      width:275px;
      padding: 10px 0;

      img{
        width:235px;
      }
      &:hover
      {
        background-color:#333;
      }

      .title
      {
        font-size: 1em;
      }

      .desc{
        font-size: .8em;
      }
    }

    .left
    {
      margin-right: 25px;
    }
    .right
    {
      margin-left: 25px;
    }

  }

}

#naming
{

    text-align: center;
    .label {color:white; font-size:0.8em;}

    width:300px;
    height:200px;
    margin-left:-150px;
    margin-top:-100px;

    fieldset{ margin: 50px auto; }

    #name {
        padding:4px;
        width: 200px;
        margin: 20px;
        font-weight:bold;
        font-size:0.8em;
    }

    @media(min-width:480px){
        width:450px;
        height:250px;
        margin-left:-225px;
        margin-top:-125px;

        .label { font-size:1em;}

        #name{
            width:300px;
            padding:7px;
            font-size:1em;
        }
    }

    @media(min-width:768px){
        width:600px;
        height:350px;
        margin-left:-300px;
        margin-top:-175px;

        padding:20px;

        #name{
            width:400px;
            padding:10px;
            font-size:1.2em;
        }

        fieldset{ margin: 120px auto; }
    }
}