body{background-color: #333;}

fieldset
{
    border: none 0 transparent;
}

.button{
    border:0 none; color: white; font-size:0.9em;padding:0.3em 1em;border-radius:0.2em;background-color: #006DCC;
    text-decoration: none;
    background-image: linear-gradient(to bottom, #0088CC, #0044CC);
    background-repeat: repeat-x;

    &:hover{ background-image: linear-gradient(to bottom, #0077CC, #0033CC); }
}

.error
{
    color: red;
    margin-bottom: 20px;
}

.main-screen
{
    position:absolute;
    left:50%;top:50%;
    text-align:center;
    background-color:#000;

    #logo {margin-top:25px;}
}

#home
{
    width:600px;
    height:350px;
    margin-left:-300px;
    margin-top:-175px;
        /* Smartphones (portrait and landscape) ----------- */
          @media only screen
          and (min-device-width : 320px)
          and (max-device-width : 480px) {
          /* Styles */
            img{
              width:200px;
            }
          }
        /* Smartphones (landscape) ----------- */
        @media only screen
        and (min-width : 321px) {
        /* Styles */
          img{
            width:200px;
          }
        }

        /* Smartphones (portrait) ----------- */
        @media only screen
        and (max-width : 320px) {
        /* Styles */
          img{
            width:200px;
          }
        }

        /* iPads (portrait and landscape) ----------- */
        @media only screen
        and (min-device-width : 768px)
        and (max-device-width : 1024px) {
        /* Styles */
        }

        /* iPads (landscape) ----------- */
        @media only screen
        and (min-device-width : 768px)
        and (max-device-width : 1024px)
        and (orientation : landscape) {
        /* Styles */
        }

        /* iPads (portrait) ----------- */
        @media only screen
        and (min-device-width : 768px)
        and (max-device-width : 1024px)
        and (orientation : portrait) {
        /* Styles */
        }

        /* Desktops and laptops ----------- */
        @media only screen
        and (min-width : 1224px) {
        /* Styles */
        }

        /* Large screens ----------- */
        @media only screen
        and (min-width : 1824px) {
        /* Styles */
        }
}

#main-menu
{
    width:600px;
    height:450px;
    margin-left:-300px;
    margin-top:-225px;

    a{
        font-weight: bold;
        font-size: 1.2em;
        text-decoration: none;
        color: blue;

        &:hover
        {
            color:#99f;
        }
    }
  @media only screen and (max-width : 480px) {
    width:400px;
    height:300px;
    margin-left:-200px;
    margin-top:-150px;
  }
}

#selection
{
    width:600px;
    height:450px;
    margin-left:-300px;
    margin-top:-225px;

    padding: 25px;

    h2
    {
        color:white;
        margin: 10px auto;
    }

    .char{
        float:left;
        width:285px;
        text-decoration:none;
        color: white;
        padding: 20px 0;

        img{
            max-width: 100%;
            //height: 225px;
            margin:auto;
        }
        &:hover
        {
            background-color:#333;
        }

        .title
        {
            text-transform: uppercase;
            margin: 20px auto;
        }

        .desc{
            padding: 10px;
        }
    }

    .left
    {
        margin-right: 15px;
    }
    .right
    {
        margin-left: 15px;
    }

  @media only screen and (max-width : 480px) {
    width:400px;
    margin-left:-200px;
    height:300px;
    margin-top:-175px;
    .char{
      float:left;
      width:150px;
      text-decoration:none;
      color: white;
      padding: 20px 0;

    }

  }
}

#naming
{
    width:600px;
    height:350px;
    margin-left:-300px;
    margin-top:-175px;
    text-align: center;

    .label {color:white;}
    padding:20px;

    fieldset{ margin: 120px auto; }

    #name {
        padding:10px;
        width: 400px;
        margin: 20px;
        font-weight:bold;
        font-size:1.2em;
      @media only screen and (max-width : 480px) {
          width:200px;
        }

    }
  @media only screen and (max-width : 480px) {
    width:400px;
    margin-left:-200px;
    height:300px;
    margin-top:-175px;
    fieldset{ margin: 100px auto; }
  }
}