extends ../layout

block privateCss
    != html.cssLoader(['/stylesheets/home.css'])

block content
    #home
        h2
            img#logo(alt='Unilluminated', src='#{config.assetsUrl}/images/game/title.png')
            div
                a.button(href='/start') Start
