extends ../layout

block privateCss
    != html.cssLoader(['/stylesheets/home.css'])

block content
    #main-menu.main-screen
        h2
            img#logo(alt='Unilluminated', src='#{config.assetsUrl}/images/game/title.png')
        div
            a(href='/game/new/1p/heroine') New Game

        div
            a(href='#') Settings
        div
            a(href='#') Credits
