extends ../layout

block privateCss
    != html.cssLoader(['/stylesheets/home.css'])

block content
    #selection.main-screen
        h2
            |Please select a character

        a.char.left(href='#')
            img#logo(alt='Heroine', src='#{config.assetsUrl}/images/game/girl_front.png')
            .title Heroine
            .desc
                |As a heroine, you will need to find a way to get the sacred flower.

        a.char.right(href='#')
            img#logo(alt='Guardian',src='#{config.assetsUrl}/images/game/monster_front.png')
            .title Guardian
            .desc
                |As a guardian you must prevent her from taking the sacred flower.